body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  overflow: hidden;
  background: linear-gradient(45deg, #2e030c, #e3c8d9, #04c772);
  background-size: 300% 300%;
  animation: gradientAnimation 10s ease infinite;
}

@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.login-container {
  background: rgba(255, 255, 255, 0.9);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 90%;
  max-width: 400px;
}

.login-container h1 {
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  color: #333;
}

.login-container input {
  width: 100%;
  padding: 0.8rem;
  margin: 0.5rem 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  transition: 0.3s;
}

.login-container input:focus {
  border-color: #ff9a9e;
  outline: none;
  box-shadow: 0 0 8px rgba(255, 154, 158, 0.5);
}

.login-container button {
  width: 100%;
  padding: 0.8rem;
  margin-top: 1rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  background: linear-gradient(45deg, #ff9a9e, #fad0c4);
  color: white;
  cursor: pointer;
  transition: transform 0.3s, background 0.3s;
}

.login-container button:hover {
  transform: scale(1.05);
  background: linear-gradient(45deg, #fad0c4, #ff9a9e);
}

@media (max-width: 480px) {
  .login-container h1 {
      font-size: 1.5rem;
  }

  .login-container input,
  .login-container button {
      font-size: 0.9rem;
      text-align: center;
    
  }
  
}
